In [1]:
import pandas as pd
import os

In [14]:
root_1 = os.path.join("..","Data from company")
root_2 = os.path.join("..","Data from me")

In [26]:
logsheet_df = pd.read_excel(os.path.join(root_1,"Updated Logsheet Report_3 months.xlsx"),sheet_name="22_33KV")
logsheet_df = logsheet_df[['DATE','VOLTAGE_LEVEL','TO_SWITCH']]
logsheet_df

         DATE  VOLTAGE_LEVEL  TO_SWITCH
0  2024-12-21             33      33138
1  2024-12-01             33      33176
2  2024-12-08             22      33209
3  2024-10-31             22       1151
4  2024-09-04             33      33074
5  2024-11-02             22      33063
6  2024-10-13             33      33248
7  2024-10-29             33      33236
8  2024-12-01             33      33353
9  2024-12-18             33      33329
10 2024-12-21             33      33099
11 2024-12-05             33      33056
12 2024-09-11             33      33059
13 2024-09-16             33      33059
14 2024-10-13             22      33154
15 2024-11-15             33      33128
16 2024-11-14             33      33207
17 2024-11-12             33      33207
18 2024-09-23             22      33054
19 2024-10-28             22      33069
20 2024-09-24             33      11540
21 2024-10-07             22      33154
22 2024-12-31             33      33222
23 2024-10-25             22       1102
24 2024-10-22             33      33236
25 2024-11-12             33      33230
26 2024-11-21             33      33160
27 2024-11-19             33      33294
28 2024-11-04             22       1151
29 2024-10-03             33      33353
30 2024-09-24             22       1289
31 2024-10-26             33      33348
32 2024-10-23             33      33325

In [ ]:
scada_df = pd.read_csv(os.path.join(root_2,'Scada Data','Combined_Scada_Data.csv'))
scada_df = scada_df[scada_df['VOLTAGE']!='11KV'].reset_index(drop=True)
scada_df = scada_df[scada_df['PARA']=='I'].reset_index(drop=True)
scada_df

                           SYSTIME   SWNO VOLTAGE PARA   VALUE
0        2024-09-16 00:00:00+00:00  33318    33KV    I   49.89
1        2024-09-16 00:00:00+00:00  33120    22KV    I  148.00
2        2024-09-16 00:00:00+00:00  33245    33KV    I   96.00
3        2024-09-16 00:00:00+00:00   1163    22KV    I   85.90
4        2024-09-16 00:00:00+00:00  33152    33KV    I   86.92
...                            ...    ...     ...  ...     ...
2183879  2024-12-15 23:45:00+00:00  33036    33KV    I   91.97
2183880  2024-12-15 23:45:00+00:00  33244    22KV    I   78.00
2183881  2024-12-15 23:45:00+00:00   1192    22KV    I   74.58
2183882  2024-12-15 23:45:00+00:00  33136    22KV    I  104.20
2183883  2024-12-15 23:45:00+00:00  33055    33KV    I   95.29

[2183884 rows x 5 columns]

In [25]:
faulty_scada_df = scada_df[scada_df['SWNO'].isin(logsheet_df['TO_SWITCH'].unique())]
faulty_scada_df

                           SYSTIME   SWNO VOLTAGE PARA   VALUE
22       2024-09-16 00:00:00+00:00  33207    22KV    I  110.03
33       2024-09-16 00:00:00+00:00  33056    33KV    I  116.78
35       2024-09-16 00:00:00+00:00  33222    33KV    I   77.48
40       2024-09-16 00:00:00+00:00  33063    22KV    I   31.25
45       2024-09-16 00:00:00+00:00  33128    33KV    I  151.01
...                            ...    ...     ...  ...     ...
2183786  2024-12-15 23:45:00+00:00  33248    33KV    I   40.00
2183800  2024-12-15 23:45:00+00:00   1289    22KV    I   45.98
2183807  2024-12-15 23:45:00+00:00  33209    22KV    I    0.00
2183809  2024-12-15 23:45:00+00:00  33069    22KV    I   95.98
2183835  2024-12-15 23:45:00+00:00  33128    33KV    I  114.09

[184481 rows x 5 columns]

In [34]:
import plotly.express as px
for swno in logsheet_df['TO_SWITCH'].unique():
    df = faulty_scada_df[faulty_scada_df['SWNO']==swno]
    fig = px.line(x = df['SYSTIME'], y=df['VALUE'])
    fig.show()
    break

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed